<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <title>About me</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">OLDMAN</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="{% url 'home'%}">Home</a>
              <a class="nav-link" href="{% url 'new' %}">write</a>
              <a class="nav-link active" aria-current="page" href="{% url 'aboutme' %}">About me</a>
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
          </div>
        </div>
    </nav>
    <div class="card text-center">
        <div class="card-header">
          About Oldman
        </div>
        <div class="card-body">
          <h5 class="card-title">KAU software oldman </h5>
          <p class="card-text">- 2016125069 조세희 -</p>
        </div>
        <div class="card-footer text-muted">
          멋쟁이 사자들 9기
        </div>
      </div>
      <br><br>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="/static/image/github_img.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">github</h5>
                <p class="card-text">감자심는 노인네의 github ... 올해도 잔디 심기는 실패한듯한 귀찮은 개발자...☆</p>
                <a href="https://github.com/wlight96" class="btn btn-primary">Go</a>
              </div>                <div class="card-footer">
                <small class="text-muted">23.05.2020</small>
              </div>
             </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/static/image/instagram.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">instagram</h5>
                <p class="card-text">oldman의 라떼는 말야...인스타 선팔과 맞팔은 언제나 oldman에게 즐거움을 줍니다.☆
                  뭐... 저는 그렇다고요 허허허...  
                </p>
                <a href="https://www.instagram.com/say0323/" class="btn btn-primary">Go</a>
              </div>                <div class="card-footer">
                <small class="text-muted">23.05.2020</small>
              </div>
             </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/static/image/MBTI.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">MBTI</h5>
                <p class="card-text">oldman의 MBTI 는 ESFJ 일겁니다... 아마 맞을꺼에요 껄껄껄...  
                </p>
              </div>                <div class="card-footer">
                <small class="text-muted">23.05.2020</small>
              </div>
             </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/static/image/oldman.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Notion</h5>
                <p class="card-text">oldman과 감자들의 개발 일지.  
                </p>
                <a href="https://www.notion.so/5eaaa010feee41438459a0adef7b7016?v=71f27951c4144fedb8cf51a9f890ab42" class="btn btn-primary">Go</a>
              </div>                <div class="card-footer">
                <small class="text-muted">23.05.2020</small>
              </div>
             </div>
          </div>
    </div>
</body>
</html>