{%extends 'base.html'%}
{%block content%}
  <div class="card text-center">
      <div class="card-header">
        {{blog.id}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <br>
        <p class="card-text">{{blog.body}}</p>
        <a href="{% url 'home' %}" class="btn btn-primary" >돌아가기</a>
        <a href="{% url 'edit' blog.id %}" class="btn btn-primary" >수정</a>
        <a href="{% url 'delete' blog.id %}" class="btn btn-primary" >삭제</a>
      </div>
      <div class="card-footer text-muted">
          {{blog.pub_date}}
      </div>
    </div>
{%endblock%}