{%extends 'base.html'%}
{%block content%}
    <div class="container">
        <h1>수정 페이지 입니다.</h1>
        <form action="{% url 'update' blog.id%}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Title</label>
                <input type="title" class="form-control" id="exampleFormControlInput1" value="{{blog.title}}" name="title">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">본문</label>
                <textarea name = "body" class="form-control" id="exampleFormControlTextarea1" rows="10">{{blog.body}}</textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="수정완료">
        </form>
    </div>
{%endblock%}