<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Old man blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">OLDMAN</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="{% url 'new' %}">write</a>
              <a class="nav-link" href="#">About me</a>
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
          </div>
        </div>
      </nav>
      <!--공지 첫빠따! 다음 부턴 게시글-->
      <br>
      <div class="card">
        <div class="card-header">
          ※ Notice ※                    {{notices.last.pub_date}}
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{notices.last}}</p>
            <footer class="blockquote-footer">{{notices.last.body}} 
              <br>
              <br>
              <p><cite title="Source Title">{{notices.last.name}}  {{notices.last.student_code}}</cite></p></footer>
          </blockquote>
        </div>
      </div>
      <br>
      <!-- 게시글 -->
      {% for blog in blogs.all %}  
        <div class="card">
          <h5 class="card-header">{{blog.pub_date}}</h5>
          <div class="card-body">
            <h5 class="card-title">{{blog.title}}</h5>
            <p class="card-text">{{blog.summary}}</p>
            <a href="{%url 'detail' blog.id%}" class="btn btn-primary">more...</a>
          </div>
        </div>
      {% endfor %}
</body>
</html> 