{% extends 'base.html'%}
{% block content%}
  <div class="card">
    <div class="card-header">
      ※ Notice ※ 
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{notices.last}}</p>
        <footer class="blockquote-footer">{{notices.last.body}} 
          <br>
          <br>
          <p><cite title="Source Title">{{notices.last.name}}  {{notices.last.student_code}}</cite></p></footer>
          <p><cite title="Source Title"></cite>{{notices.last.pub_date}}</p>
        </blockquote>
    </div>
  </div>
  <br>
  <!-- 게시글 -->
  {% for blog in blogs.all %}  
    <div class="card">
      <h5 class="card-header">{{blog.pub_date}}</h5>
      <div class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <p class="card-text">{{blog.summary}}</p>
        <a href="{%url 'detail' blog.id%}" class="btn btn-primary">more...</a>
      </div>
    </div>
  {% endfor %}
{%endblock%}