{%extends 'base.html'%}
{%block content%}
    <div class="container">
        <form action="{% url 'create' %}" method="GET">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Title</label>
                <input type="title" class="form-control" id="exampleFormControlInput1" placeholder="제목을 입력해주세요." name="title">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">본문</label>
                <textarea name = "body" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="등록">
        </form>
    </div>
{%endblock%}